body {
    background: url('https://www.wallpapertip.com/wmimgs/49-493241_background-image-for-student-portal.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    margin-bottom: 4em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 4em;
    padding-top: 3em;
    font-size: 0.9em;
    border-radius: 1em;
    background-color: rgba(242, 242, 242, .8);
}

*[role="form"] h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 2rem;
}

.col-sm-3 {
    max-width: 100%;
}

.col-sm-9 {
    max-width: 100%;
}

.container {
    margin-top: 5%;
}

.rollNumber {
    clear: both;
    float: right;
}

*[role="form"] button {
    width: 23%;
    margin: 2em;
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
}